build
.cuda_arch_stamp
.build_lock
runtime/*
!runtime/README.md
MyLogFile.log
lib/
lib-gpu/
src/goldilocks/CudaArch.mk
src/goldilocks/build/
src/goldilocks/build_gpu/
src/goldilocks/testscpu
src/goldilocks/testsgpu
src/goldilocks/benchscpu
src/goldilocks/benchsgpu
src/bn128/build/
src/bn128/build_gpu/
src/bn128/testscpu
src/bn128/testsgpu
src/bn128/benchscpu
src/bn128/benchsgpu