pragma circom 2.1.0;
pragma custom_templates;

{% for vf in verifier_filenames %}include "{{ vf }}";
{% endfor %}
template FinalCompressed() {
{{ stark_signals }}
{{ stark_assign }}
}

{% if has_publics %}component main {public [publics]} = FinalCompressed();
{% else %}component main = FinalCompressed();
{% endif %}
