// SPDX-License-Identifier: AGPL-3.0
pragma solidity ^0.8.20;

/// @title {{ name }} Verifier Interface
/// @author SilentSig
/// @notice This contract is the interface for the {{ name }} Verifier.
interface I{{ name }}Verifier {
    /// @notice Verifies a proof with given public values and vkey.
    {% if has_program_vk %}/// @param programVK The verification key for the RISC-V program.
    {% endif %}/// @param publicValues The public values encoded as bytes.
    /// @param proofBytes The proof of the program execution the {{ name }} zkVM encoded as bytes.
    function verifySnarkProof(
        {% if has_program_vk %}bytes32 programVK,
        {% endif %}bytes32 rootCVadcopFinal,
        bytes calldata publicValues,
        bytes calldata proofBytes
    ) external view;
}
